body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #e9eaed;
}

header {
    color: white;
    font-size: 1.5rem;
    background-color: #43609C;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

.timeline {
    width: 35rem;
    margin: 3rem auto;
}

.post {
    margin-bottom: 1.5rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.3rem;
}

div img {
    width: 6rem;
    height: 6rem;
    margin: 1rem auto; ;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
    color: #43609C;
}

.post-date {
    font-size: 0.8rem;
    color: #9197a3;
    margin: 0.2rem 0 1rem;
}

.post-content {
    font-size: 1rem;
    margin-bottom: 1rem;
    clear: both;
}

.like-comment-share {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    font-size: 0.85rem;
    color: #4267B2;
    cursor: pointer;
}

.likes-count {
    font-size: 0.85rem;
    color: #555;
    margin-top: 1rem;
}

.view-comments {
    font-size: 0.85rem;
    color: #555;
    margin-top: 1rem;
    cursor: pointer;
}

.comments {
    margin-top: 1rem;
}

.comment {
    margin-top: 1rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

h3 {
    color: #43609C;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 0 0.5rem;
}

.comment p {
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.comment-info {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
    color: #9197a3;
}
